@{
    ViewBag.Title = "Change Password";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Change Password</div>

        <div class="panel-body">
            <form class="form-horizontal" role="form" id="frmChangePassword" method="post" action="@Url.Action("ChangePassword", "Home")">
                @if (Request.QueryString["success"] != null)
                {
                    <text>
                    @{ int sucess = Convert.ToInt32(Request.QueryString["success"].ToString());}
                    <div class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (sucess >= 1)
                        {
                            <strong>Change Password Success!</strong>
                        }
                        @if (sucess == 0)
                        {
                            <strong>Change Password Fail!</strong>
                        }
                        @if (sucess < 0)
                        {
                            <strong>Password does not match!</strong>
                        }
                    </div>
                    </text>
                }
                <div class="form-group">
                    <label class="control-label col-sm-2" for="id">Employee ID:</label>
                    <div class="col-sm-10">
                        <input type="text" readonly="true" class="form-control" placeholder="EmID" name="EMP_ID" value="@Session["Username"]" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="id">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" readonly="true" class="form-control" placeholder="Name" name="Name" value="@Session["Name"]" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" name="Password" maxlength="10" class="form-control" placeholder="Password" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="dept">New Password:</label>
                    <div class="col-sm-10">
                        <input type="password" name="NewPassword" maxlength="10" class="form-control" placeholder="New Password" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="approver">Confirm Password:</label>
                    <div class="col-sm-10">
                        <input type="password" name="PwConfirm" maxlength="10" class="form-control" placeholder="Confirm Password" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <button type="submit" name="btnSubmit" class="btn btn-primary">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
